
<table class="tx-teufels-cpt-cnt-timeline" >
	<tr>
		<td>
			<f:translate key="tx_teufelscptcnttimeline_domain_model_milestone.date" />
		</td>
		<td>
		{milestone.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelscptcnttimeline_domain_model_milestone.title" />
		</td>
		<td>
		{milestone.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelscptcnttimeline_domain_model_milestone.subtitle" />
		</td>
		<td>
		{milestone.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelscptcnttimeline_domain_model_milestone.description" />
		</td>
		<td>
		{milestone.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelscptcnttimeline_domain_model_milestone.image" />
		</td>
		<td>
				<f:image src="{milestone.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelscptcnttimeline_domain_model_milestone.file" />
		</td>
		<td>
				<a href="{milestone.file.originalResource.publicUrl}">
					{milestone.file.originalResource.name}
				</a>
		</td>
	</tr>
</table>