{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<div id="tx_teufelscptcnttimeline" class="tx_teufelscptcnttimeline list" >
		<ul class="timeline">
			<f:for each="{milestones}" as="milestone" iteration="iteration" key="index">

				<f:if condition="{v:math.modulo(a: '{iteration.cycle}', b: 2)} == 0">
					<f:then>
						<f:render section="milestone"
								  arguments="{milestone: '{milestone}', iteration: '{iteration.cycle}'}"/>
					</f:then>
					<f:else>
						<f:render section="milestone_inverted"
								  arguments="{milestone: '{milestone}', iteration: '{iteration.cycle}'}"/>
					</f:else>
				</f:if>

			</f:for>
			<f:if condition="{settings.bHideAdditionalItem} != 1">
				<li class="timeline-inverted last__milestone">
					<div class="timeline-image">
						<h4 class="display_table-cell milestone__claim hidden-xs">
							{settings.sAdditionalItemText}
						</h4>
					</div>
					<div class="timeline-panel hidden-sm hidden-md hidden-lg">
						<div class="timeline-body">
							<p class="milestone__description text-muted">
								<f:format.raw>{settings.sAdditionalItemText}</f:format.raw>
							</p>
						</div>
					</div>
				</li>
			</f:if>
		</ul>
	</div>

</f:section>




<f:section name="milestone">
	<li>
		<div class="timeline-image">

			<v:variable.set name="mediaElementWidth" value="{v:media.image.width(src: '{milestone.image.originalResource.publicUrl}')}" />
			<v:variable.set name="mediaElementHeight" value="{v:media.image.height(src: '{milestone.image.originalResource.publicUrl}')}" />

			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				 data-echo="{milestone.image.originalResource.publicUrl}"
				 width="{mediaElementWidth}"
				 height="{mediaElementHeight}"
				 title="{milestone.image.originalResource.title}"
				 alt="{milestone.image.originalResource.alternative}"
				 class="b-lazy opacity_0 img-circle img-responsive"
				 id="record-{iteration}" />
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h3>
					<span class="milestone__year">{milestone.date}</span>
					<span class="milestone__title heading">{milestone.title}</span>
				</h3>
				<h4 class="milestone__subtitle subheading">{milestone.subtitle}</h4>
			</div>
			<div class="timeline-body">
				<p class="milestone__description text-muted">
					<f:format.raw>{milestone.description}</f:format.raw>
				</p>
			</div>
		</div>
	</li>
</f:section>




<f:section name="milestone_inverted">
	<li class="timeline-inverted">
		<div class="timeline-image">
			<v:variable.set name="mediaElementWidth" value="{v:media.image.width(src: '{milestone.image.originalResource.publicUrl}')}" />
			<v:variable.set name="mediaElementHeight" value="{v:media.image.height(src: '{milestone.image.originalResource.publicUrl}')}" />

			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				 data-echo="{milestone.image.originalResource.publicUrl}"
				 width="{mediaElementWidth}"
				 height="{mediaElementHeight}"
				 title="{milestone.image.originalResource.title}"
				 alt="{milestone.image.originalResource.alternative}"
				 class="b-lazy opacity_0 img-circle img-responsive"
				 id="record-{iteration}" />
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h3>
					<span class="milestone__year">{milestone.date}</span>
					<span class="milestone__title heading">{milestone.title}</span>
				</h3>
				<h4 class="milestone__subtitle subheading">{milestone.subtitle}</h4>
			</div>
			<div class="timeline-body">
				<p class="milestone__description text-muted">
					<f:format.raw>{milestone.description}</f:format.raw>
				</p>
			</div>
		</div>
	</li>
</f:section>